<h1>List of all users</h1>

<p>There are <%= @users.count %> users.</p>

<ul>
<% @users.each do |user| %>
	<li>
		<%= link_to(user.email, user) %>
    <%= button_to('Follow', follows_path(id: user), method: :create) %>
	</li>
<% end %>
</ul>